.post-content {
    width: 100%;
    height: calc(100% - 55.9px);
}
.content-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    box-shadow: 0 0.7px 3px rgba(0, 0, 0, 0.1);
}
.ch-icon {
    width: 18px;
    height: 18px;
    color: var(--grey);
}
div .pc-main {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    padding: 15px;
}
div .pc-main-main {
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 10px;
}
.post-content h4 {
    margin: 3px 0px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}
.pcm-loading.p, .pc-main-p {
    margin: 6px 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pc-main-p span {
    font-size: 13px;
    font-weight: 400;
}
.pc-txt {
    margin-top: 20px;
    line-height: 1.5rem;
    font-size: 14px;
}
.pc-groupings {
    width: 100%;
    margin-top: 20px;
}
.pc-base {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.pc-base > div {
    width: max-content;
}
.pcm-loading {
    width: 100%;
    height: 18px;
}
.pcm-loading.p > div {
    width: 200px;
    height: 17px;
}
.plg-loading {
    width: 100%;
    height: 18px;
}
.pcvt-loading {
    width: 50px;
    height: 17px;
}
.pdt-loading {
    width: 100%;
    height: 17px;
}
.pcv {
    display: flex;
    align-items: center;
    width: max-content;
    padding: 12px 20px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #e0dada;
    padding-left: 15px;
}
.pcv-icon {
    width: 20px;
    height: 20px;
    color: #323232;
}
.pcv-icon.down-vote- {
    margin-left: 0px;
    margin-top: 2px;
}
.pcv-txt {
    font-size: 18px;
    font-weight: 500;
    margin-left: 0px;
    margin-top: -1px;
    padding-left: 12px;
    padding-right: 12px;
    /* border-left: 1px solid #e0dada; */
}
.pc-details {
    display: flex;
}
.down-vote {
    margin-left: 15px;
}
.pd-img {
    width: 45px;
    height: 45px;
}
.pd-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.pd-txt {
    margin-left: 9px;
    display: flex;
    flex-direction: column;
}
.pd-poster {
    font-size: 14px;
    font-weight: 500;
    margin-top: 2px;
}
.pd-post-time {
    font-size: 11px;
    margin-top: 3px;
}
.pdt-link {
    width: max-content;
    padding: 5px 10px;
    padding-bottom: 8px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid var(--bordergrey);
    margin-top: 12px;
    display: flex;
    align-items: center;
}
.pdt-icon {
    width: 13px;
    height: 13px;
    color: var(--grey);
    margin-left: 6px;
}
.pc-voting {
    display: flex;
}
.post__Reward {
    width: max-content;
    margin-top: 0px;
}
.claim-post-reward {
    width: max-content;
    padding: 8px 18px;
    padding-bottom: 10px;
    background-color: var(--bgblue);
    color: var(--white);
    font-size: 14px;
    font-weight: 480;
    border-radius: 18px;
}
.pc-details {
    width: calc(100% - 150px);
    justify-content: flex-end;
}
.pd-txt {
    width: calc(100% - 54px);
}
.pd-txt .pd-poster {
    word-wrap: break-word;
}
.content__Voters, .content__Voters > div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content__Voters {
    padding: 0px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
}
.content__Voters h3 {
    margin: 12px 0px;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
}
.Voters ul, .voters__Loading ul {
    width: min(100%, 400px);
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid var(--bordergrey);
    border-radius: 10px;
}
.voters-li {
    width: 100%;
    padding: 12px 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--bordergrey);
}
.voters-li:first-child {
    border-top: none;
}
.vli-txt-loading {
    width: calc(100% - 50px);
}
.vli-txt-loading > div {
    width: 100%;
    height: 15px;
}
.vli-txt {
    display: flex;
    flex-direction: column;
}
.vli-txt-loading > div:nth-child(2) {
    margin-top: 4px;
}
.vlit-name {
    font-size: 16px;
    font-weight: 500;
}
.vlit-time {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey);
    margin-top: 4px;
}
.vli-stake {
    width: 40px;
    height: 30px;
}
.vli-txt-stake span {
    font-size: 16px;
    font-weight: 500;
    color: #626262;
}
@media screen and (max-width: 770px) { 
    .pcv {
        padding: 8px 15px;
        border-radius: 30px;
        padding-left: 12px;
    }
    .pcv-icon {
        width: 18px;
        height: 18px;
    }
    .pcv-txt {
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
        padding-left: 11px;
    }
}