.landingPage {
    width: 100%;
    height: 100%;
}
.landingPage {
    display: flex;
    background-color: var(--bgblue);
}
.idonk_logo {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 999;
    width: max-content !important;
    height: max-content !important;
}
.idonk_logo img {
    width: 150px;
    height: 60px;
}
.landing_page_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lpw-content {
    width: min(100%, 500px);
    height: 330px;
    border-radius: 10px;
    border: 1px solid var(--bordergrey);
    background-color: var(--white);
    box-shadow: var(--boxshadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landingPage > div {
    height: 100%;
}
.landingPage .landing_page_wrapper {
    width: 42%;
}
.lp-banner {
    width: 58%;
    /* background-color: var(--bgblue); */
    position: sticky;
    top: 0px;
    right: 0px;
    overflow: hidden;
}
.lpb-img {
    width: 100%;
    height: 100%;
    /* position: relative; */
}
.lpb-img img {
    width: 100%;
    height: 100%;
}
.lpw-content h3 {
    font-size: 33px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.lpw-content p {
    font-size: 18px;
    margin-top: 15px;
}
.connect-wallet-btn {
    margin-top: 30px;
    width: max-content;
    padding: 8px 30px;
    padding-bottom: 10px;
    border-radius: 18px;
    background-color: var(--bgblue);
    color: var(--white);
    font-size: 17px;
    display: flex;
    align-items: center;
}
.cwb-icon {
    width: 15px;
    height: 15px;
    color: var(--white);
}
.connect-wallet-btn span {
    margin-left: 9px;
}
@media screen and (max-width: 770px) {
    .landingPage > div {
        width: 100%;
    }
    .lp-banner {
        display: none;
    }
}