.contentFile {
    width: 100%;
    height: max-content;
    max-height: 240px;
    margin-top: 10px;
    border-radius: 10px;
}
.cf-image {
    background-color: rgba(27, 27, 27, 0.475);
}
.cf-file {
    padding: 10px;
    padding-top: 3px;
}
.contentFile img {
    width: min(100%, 360px);
    height: 240px;
    object-fit: contain;
}
.cf-fileDoc-wrapper, .contentFile {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cf-fileDoc-wrapper {
    min-height: 100px;
}
.cf-fileDoc-wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100%, 360px);
    padding: 12px 15px;
    border: 1px solid var(--bordergrey);
    border-radius: 12px;
}
.cf-fd-icon {
    width: 30px;
    height: 27px;
    color: var(--grey);
}
.cf-file-desc {
    width: calc(100% - 90px);
    margin-left: 10px;
    border-left: 1px solid var(--bordergrey);
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.cffd-name {
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.cffd-size {
    font-size: 13px;
    margin-top: 3px;
    color: var(--grey);
}
.cf-file-download {
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cf-file-download > div {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--bordergrey);
}
.cffdb-icon {
    width: 21px;
    height: 21px;
    color: var(--grey);
}