.feeds__lists {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.f-l-feed-li {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--bordergrey);
}
.f-l-top, .f-l-base, .f-l-b-right, .f-l-b-votes {
    display: flex;
    align-items: center;
}
.feed-li > div {
    width: 100%;
}
.community-linkup {
    width: max-content;
    padding: 3px 9px;
    padding-bottom: 6px;
    font-size: 13.5px;
    border-radius: 9px;
    border: 1px solid var(--bordergrey);
    color: var(--grey);
    margin-left: 12px;
}
.f-l-t-img {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bgblue);
}
.f-l-t-img-loading {
    background-color: transparent !important;
}
.f-l-t-img > div, .f-l-t-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.f-l-top span, .f-l-b-votes span {
    margin-left: 6px;
}
.f-l-t-poster {
    font-size: 13.5px;
    font-weight: 500;
    margin-left: 3px;
}
.f-l-t-loading {
    width: 60px;
    height: 15px;
}
.f-l-t-time {
    font-size: 13px;
    color: var(--grey);
    margin-left: 3px;
}
.f-l-mid {
    margin-top: 6px;
}
.f-l-mid-txt-loading {
    width: 100%;
    height: 90px;
}
.pl-mid-title {
    font-size: 19px;
    font-weight: 500;
    margin: 10px 0px;
}
.f-l-mid-txt {
    margin-top: 2px;
    width: 100%;
    min-height: 30px;
    display: -webkit-box;
    white-space: pre-wrap;
    word-break: break-word;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4rem;
}
.f-l-base {
    margin-top: 6px;
    margin-left: -8px;
    align-items: flex-end;
    height: max-content;
}
.f-l-b-left {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}
.f-l-b-left > div, .f-l-b-votes {
    width: max-content;
    padding: 6px 15px;
    padding-bottom: 9px;
    border-radius: 18px;
    background-color: #f5f5f5; 
    margin-top: 10px;
    margin-left: 8px;
    font-size: 13.5px;
}
.f-l-b-left.f-l-loading {
    width: calc(100% - 55px);
    height: 20px;
}
.f-l-b-left.f-l-loading > div {
    width: 100% !important;
    padding: 0px !important;
    margin-top: 0px !important;
}
.f-l-b-left > div {
    font-weight: 500;
    color: var(--grey)
}
.f-l-b-votes {
    background-color: var(--white);
    border: 1px solid var(--bordergrey);
    padding-left: 10px;
}
.f-l-b-votes.f-l-b-v-loading {
    width: 45px;
    height: 20px;
    background-color: transparent;
    padding: 0px;
    margin-top: 0px !important;
}
.f-l-b-votes span {
    margin-top: -1px;
    margin-left: 4.5px;
    font-weight: 500;
}
.f-l-b-votes:nth-child(2) span {
    margin-top: -3px;
}
.f-l-b-v-icon {
    width: 18px;
    height: 16px;
    color: #3e3e3e;
}
.f-l-b-v-icon.down-vote {
    margin-left: 3px !important;
    margin-top: 1px;
}

@media screen and (max-width: 1024px) {
    .f-l-base {
        flex-direction: column;
    }
    .f-l-b-left {
        width: 100%;
    }
}