.wallet-modal {
    position: fixed;
    z-index: 99999999;
    top: 0px;
    left: 0px;
    background-color: rgba(27, 27, 27, 0.9);
    width: 100%;
    height: 100%;
}
.wallet-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wm-header {
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid var(--bordergrey);
}
.wm-header h4 {
    margin: 0;
    padding: 0;
}
.wmh-icon {
    width: 18px;
    height: 18px;
    color: var(--grey);
}
.wm {
    background-color: var(--white);
    width: min(100%, 600px);
    border-radius: 10px;
}
.wm-Receive, .wm-Send, .wm-Buy {
    width: 100%;
    padding: 20px;
}
.wmr-text, .wmS-field input {
    width: 100%;
    padding: 10px;
    color: #3e3e3e;
    font-size: 15px;
}
.wmS-field input {
    border: 1px solid var(--bordergrey);
    border-radius: 9px;
}
.wmS-field input:focus {
    border-color: var(--grey);
}
.wm-Receive > p, .wm-Send > p {
    margin: 0px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 500;
}
.wmr-text {
    padding: 5px;
}
.wmr-text span {
    padding: 10px 15px;
    border: 1px solid var(--grey);
    border-radius: 6px;
}
.wmr-text {
    display: flex;
    justify-content: center;
}
.wmr, .wmr-button, .wmS-send, .wms-button, .wm-header {
    display: flex;
    align-items: center;
}
.wmr, .wmS-send {
    margin-top: 20px;
    justify-content: flex-end;
}
.wmr-button, .wms-button {
    width: max-content;
    padding: 9px 20px;
    background-color: var(--bgblue);
    border-radius: 9px;
}
.wmrb-icon, .wmsb-icon {
    width: 15px;
    height: 15px;
    color: var(--white);
}
.wmr-button span, .wms-button span {
    margin-left: 9px;
    color: var(--white);
    font-size: 15px;
}
.wmS-field {
    margin-top: 20px;
    width: 100%;
}
.wmS-field:first-child {
    margin-top: 9px;
}
.wmS-field input {
    margin-top: 12px;
}
.wmS-send {
    margin-top: 27px;
}